<a href="https://colab.research.google.com/github/haruya0605037/sample2/blob/main/pyhon1w.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1日目2/1 導入～入門1
# 見出し1

Markdown記法で見やすく文章を書くことができます。

## 見出し2

**強調**

数式を書くこともできます。

$$
y=2x+1
$$

Pythonコードを書くときはコードブロックを使います。

```python
print("Hellow,World")
```

- 箇条書
- 箇条書
  - 箇条書


> 引用文

In [ ]:
print("Hellow,World!")
print("Hellow,Python")

Hellow,World!
Hellow,Python

In [ ]:
num=3+5
print(num)

8

In [ ]:
print(250+100+400)
print(-30-40)
print(50*9)
print(50//3)
print(50%3)
print(-3//2)

750
-70
450
16
2
-2

In [ ]:
print(2**3)
print(2**0.5)
print(type(7*9))
print(type(50/4))
print(type(50/2))
print(2.)
print(type(float(2)))
print(float(2))
print(int(3.7))
print(float(3.7))
print(3 + 5*4 - 10/2 + 2**0.5)
print((3+5) * 4 - 10/2 + 2**0.5)
print(abs(-3))

8
1.4142135623730951
<class 'int'>
<class 'float'>
<class 'float'>
2.0
<class 'float'>
2.0
3
3.7
19.414213562373096
28.414213562373096
3


# 2日目2/2 入門2～4
- 色コード<font color=""></font>
- ＝、-、+の両端はスペース。
- 区切りの,は前の語句に連続。
- <font color="red">pythonで変数の組み方によって発生しやすいバグを後で確認。</font>
- 累積代入文 += -= *= /=
- syntax：文法  
invalid：無効  
callable：可能  
型：int float str
- {:+}正の値であれば+を代入  
{:.1f}小数点1位まで表記

- 学生の年齢19  
```
print("学生の年齢{}".format(student_age))
print("学生の年齢", student_age, sep="")
print("学生の年齢"+str(student_age))
```
- print関数のオプション引数objects、sep、end、file、flush
- *objects , 区切り可能  
sepはprint()内の区切り文字を指定。デフォルト（省略時）は半角スペース  
endは末尾のオブジェクトに値を追加。デフォルトは改行    

```
print("a", "b")
print("a")
print("b")
a b  
a  
b
```
- {}は文字列の代入 、 [要素0 , 要素1…, 要素-1]はリスト
- リストからスライス[起点インデックス:終点<font color="red">+1</font>インデックス]  
[起点インデックス:終点+1インデックス:ステップ数]  
要素数はlen()、追加メソッド.append()は1要素ずつ。代入はしない、appendメソッドはNoneを返しているから。
```
numbers[0, 1, 2, 3]
numbers.append(4)
print(numbers)
```
他のメソッドは代入することもある。
- メソッドや関数でNONEを返すなど元のリストが変更になるかどうかは確認してから使用したほうがよさそう。

- リスト[ , ]、タプル( , )、（"文字列"）はシーケンス型。  
タプルは編集不可  
リスト、タプルは同名関数があるため変数には指定しない。

In [ ]:
x = 250 + 100 + 400
print(x)
print(x*2)
y = x/2
print(y)
s, t = 100, 200
print(y + s + t)
today_temperature, student_age  = 25, 19
print(today_temperature*2, student_age + 2)
STANDARD_ATMOSPEERE = 101325
x = 1
x += 5
print(x)
x, y = 1, 5
x += 2*y
print(x)

750
1500
375.0
675.0
50 21
6
11

In [ ]:
print("text")
print(type("text"))
x = "text"
print(x)
print("learn python", "こんにちは")
student_name = "Alice"
print(student_name)
student_age = 19
print("私の年齢は" + str(student_age) + "です")
student_name = "Alice"
student_age = 19
print("私の名前は{}で、{}歳です。".format(student_name, student_age))
student_name = "Alice"
student_age = 19
print("私は{1}歳で、名前は{0}です。".format(student_name, student_age))
weather_text = "今日の天気は{}です。"
weather_text = weather_text.format("晴れ")
print(weather_text)
tenki = "晴れ"
weather_text = "今日の天気は{}です。".format(tenki)
print(weather_text)
weather_text = "今日の天気は{}です。".format("晴れ")
print(weather_text)
weather_text = "今日の{}の天気は{}です。".format("お昼", "晴れ")
print(weather_text)
today_temperature = 3
tomorrow_temperature = -5
print("今日の最高気温は{:+}、明日の最低気温は{:+}です。".format(today_temperature, tomorrow_temperature))
today_temperature = 3.53
tomorrow_temperature = -5.27
print("今日の最高気温は{:.1f}、明日の最低気温は{:.1f}です。".format(today_temperature, tomorrow_temperature))
today_temperature = 3.53
tomorrow_temperature = -5.27
print("今日の最高気温は{1:+.1f}、明日の最低気温は{0:+.1f}です。".format(today_temperature, tomorrow_temperature))
print("python".capitalize())
student_age = 19
print("学生の年齢", student_age, sep=":")

text
<class 'str'>
text
learn python こんにちは
Alice
私の年齢は19です
私の名前はAliceで、19歳です。
私は19歳で、名前はAliceです。
今日の天気は晴れです。
今日の天気は晴れです。
今日の天気は晴れです。
今日のお昼の天気は晴れです。
今日の最高気温は+3、明日の最低気温は-5です。
今日の最高気温は3.5、明日の最低気温は-5.3です。
今日の最高気温は-5.3、明日の最低気温は+3.5です。
Python
学生の年齢:19

In [ ]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print(monthly_average_temperatures)
print(type(monthly_average_temperatures))
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print("各月の平均気温は、1月は{}度、12月は{}度です。".format(monthly_average_temperatures[0], monthly_average_temperatures[-1]))
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
monthly_average_temperatures[5] = 24
print(monthly_average_temperatures[5])
print(monthly_average_temperatures[3:8])
print(monthly_average_temperatures[0:7:2])
print(monthly_average_temperatures[::5])
print(len(monthly_average_temperatures))
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
odd_and_even = [[0, 2, 4, 6, 8], [1, 3, 5, 7, 9]]
mixed = [-5.5, "Python", 270, ["a", "b", "c"]]
print(months[0:2], odd_and_even[0], mixed[0:2])
texts = []
texts.append("alpha")
texts.append("beta")
print(texts)
numbers = [0, 1, 2, 3]
numbers.append(4)
print(numbers)
text = "python"
print(text.capitalize())
capitalized_text = text.capitalize()
print(capitalized_text)
odd_numbers = [1, 3, 5]
even_numbers = [2, 4, 6]
print(odd_numbers + even_numbers)
odd_and_even_numbers = sorted(odd_numbers + even_numbers)
print(odd_and_even_numbers)
print(odd_numbers)
user_ids = ("A081", "A114", "A186")
print(user_ids)
print(type(user_ids))
user_ids1, user_ids2, user_ids3 = user_ids
print(user_ids1)
empty_tuple = ()
print(empty_tuple)
print(list(user_ids))

[6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
<class 'list'>
各月の平均気温は、1月は6度、12月は7度です。
24
[15, 20, 24, 27, 26]
[6, 9, 20, 27]
[6, 24, 12]
12
['January', 'February'] [0, 2, 4, 6, 8] [-5.5, 'Python']
['alpha', 'beta']
[0, 1, 2, 3, 4]
Python
Python
[1, 3, 5, 2, 4, 6]
[1, 2, 3, 4, 5, 6]
[1, 3, 5]
('A081', 'A114', 'A186')
<class 'tuple'>
A081
()
['A081', 'A114', 'A186']

# 3日目 2/3 入門5～