<a href="https://colab.research.google.com/github/haruya0605037/sample2/blob/main/python1w.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1日目2/1 導入～入門1
# 見出し1

Markdown記法で見やすく文章を書くことができます。

## 見出し2

**強調**

数式を書くこともできます。

$$
y=2x+1
$$

Pythonコードを書くときはコードブロックを使います。

```python
print("Hellow,World")
```

- 箇条書
- 箇条書
  - 箇条書


> 引用文

In [ ]:
print("Hellow,World!")
print("Hellow,Python")

Hellow,World!
Hellow,Python

In [ ]:
num=3+5
print(num)

8

In [ ]:
print(250+100+400)
print(-30-40)
print(50*9)
print(50//3)
print(50%3)
print(-3//2)

750
-70
450
16
2
-2

In [ ]:
print(2**3)
print(2**0.5)
print(type(7*9))
print(type(50/4))
print(type(50/2))
print(2.)
print(type(float(2)))
print(float(2))
print(int(3.7))
print(float(3.7))
print(3 + 5*4 - 10/2 + 2**0.5)
print((3+5) * 4 - 10/2 + 2**0.5)
print(abs(-3))

8
1.4142135623730951
<class 'int'>
<class 'float'>
<class 'float'>
2.0
<class 'float'>
2.0
3
3.7
19.414213562373096
28.414213562373096
3


# 2日目2/2 入門2～4
- 色コード<font color=""></font>
- ＝、-、+の両端はスペース。
- 区切りの,は前の語句に連続。
- <font color="red">pythonで変数の組み方によって発生しやすいバグを後で確認。</font>
- 累積代入文 += -= *= /=
- syntax：文法  
invalid：無効  
callable：可能  
型：int float str
- {:+}正の値であれば+を代入  
{:.1f}小数点1位まで表記

- 学生の年齢19  
```
print("学生の年齢{}".format(student_age))
print("学生の年齢", student_age, sep="")
print("学生の年齢"+str(student_age))
```
- print関数のオプション引数objects、sep、end、file、flush
- *objects , 区切り可能  
, sep("")はprint()内の区切り文字を指定。デフォルト（省略時）は半角スペース  
, end("")は末尾のオブジェクトに値を追加。デフォルトは改行    

```
print("a", "b")
print("a")
print("b")
a b  
a  
b
```
- {}は文字列の代入 、 [要素0 , 要素1…, 要素-1]はリスト
- リストからスライス[起点インデックス:終点<font color="red">+1</font>インデックス]  
[起点インデックス:終点+1インデックス:ステップ数]  
要素数はlen()、追加メソッド.append()は1要素ずつ。代入はしない、appendメソッドはNoneを返しているから。
```
numbers[0, 1, 2, 3]
numbers.append(4)
print(numbers)
```
他のメソッドは代入することもある。
- メソッドや関数でNONEを返すなど元のリストが変更になるかどうかは確認してから使用したほうがよさそう。

- リスト[ , ]、タプル( , )、（"文字列"）はシーケンス型。  
タプルは編集不可  
リスト、タプルは同名関数があるため変数には指定しない。

In [ ]:
# 入門2
x = 250 + 100 + 400
print(x)
print(x*2)
y = x/2
print(y)
s, t = 100, 200
print(y + s + t)
today_temperature, student_age  = 25, 19
print(today_temperature*2, student_age + 2)
STANDARD_ATMOSPEERE = 101325
x = 1
x += 5
print(x)
x, y = 1, 5
x += 2*y
print(x)

750
1500
375.0
675.0
50 21
6
11

In [ ]:
# 入門3
print("text")
print(type("text"))
x = "text"
print(x)
print("learn python", "こんにちは")
student_name = "Alice"
print(student_name)
student_age = 19
print("私の年齢は" + str(student_age) + "です")
student_name = "Alice"
student_age = 19
print("私の名前は{}で、{}歳です。".format(student_name, student_age))
student_name = "Alice"
student_age = 19
print("私は{1}歳で、名前は{0}です。".format(student_name, student_age))
weather_text = "今日の天気は{}です。"
weather_text = weather_text.format("晴れ")
print(weather_text)
tenki = "晴れ"
weather_text = "今日の天気は{}です。".format(tenki)
print(weather_text)
weather_text = "今日の天気は{}です。".format("晴れ")
print(weather_text)
weather_text = "今日の{}の天気は{}です。".format("お昼", "晴れ")
print(weather_text)
today_temperature = 3
tomorrow_temperature = -5
print("今日の最高気温は{:+}、明日の最低気温は{:+}です。".format(today_temperature, tomorrow_temperature))
today_temperature = 3.53
tomorrow_temperature = -5.27
print("今日の最高気温は{:.1f}、明日の最低気温は{:.1f}です。".format(today_temperature, tomorrow_temperature))
today_temperature = 3.53
tomorrow_temperature = -5.27
print("今日の最高気温は{1:+.1f}、明日の最低気温は{0:+.1f}です。".format(today_temperature, tomorrow_temperature))
print("python".capitalize())
student_age = 19
print("学生の年齢", student_age, sep=":")

text
<class 'str'>
text
learn python こんにちは
Alice
私の年齢は19です
私の名前はAliceで、19歳です。
私は19歳で、名前はAliceです。
今日の天気は晴れです。
今日の天気は晴れです。
今日の天気は晴れです。
今日のお昼の天気は晴れです。
今日の最高気温は+3、明日の最低気温は-5です。
今日の最高気温は3.5、明日の最低気温は-5.3です。
今日の最高気温は-5.3、明日の最低気温は+3.5です。
Python
学生の年齢:19

In [ ]:
# 入門4
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print(monthly_average_temperatures)
print(type(monthly_average_temperatures))
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print("各月の平均気温は、1月は{}度、12月は{}度です。".format(monthly_average_temperatures[0], monthly_average_temperatures[-1]))
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
monthly_average_temperatures[5] = 24
print(monthly_average_temperatures[5])
print(monthly_average_temperatures[3:8])
print(monthly_average_temperatures[0:7:2])
print(monthly_average_temperatures[::5])
print(len(monthly_average_temperatures))
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
odd_and_even = [[0, 2, 4, 6, 8], [1, 3, 5, 7, 9]]
mixed = [-5.5, "Python", 270, ["a", "b", "c"]]
print(months[0:2], odd_and_even[0], mixed[0:2])
texts = []
texts.append("alpha")
texts.append("beta")
print(texts)
numbers = [0, 1, 2, 3]
numbers.append(4)
print(numbers)
text = "python"
print(text.capitalize())
capitalized_text = text.capitalize()
print(capitalized_text)
odd_numbers = [1, 3, 5]
even_numbers = [2, 4, 6]
print(odd_numbers + even_numbers)
odd_and_even_numbers = sorted(odd_numbers + even_numbers)
print(odd_and_even_numbers)
print(odd_numbers)
user_ids = ("A081", "A114", "A186")
print(user_ids)
print(type(user_ids))
user_ids1, user_ids2, user_ids3 = user_ids
print(user_ids1)
empty_tuple = ()
print(empty_tuple)
print(list(user_ids))

[6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
<class 'list'>
各月の平均気温は、1月は6度、12月は7度です。
24
[15, 20, 24, 27, 26]
[6, 9, 20, 27]
[6, 24, 12]
12
['January', 'February'] [0, 2, 4, 6, 8] [-5.5, 'Python']
['alpha', 'beta']
[0, 1, 2, 3, 4]
Python
Python
[1, 3, 5, 2, 4, 6]
[1, 2, 3, 4, 5, 6]
[1, 3, 5]
('A081', 'A114', 'A186')
<class 'tuple'>
A081
()
['A081', 'A114', 'A186']

# 3日目 2/3 入門5～7
- ifの後にスペース、文直後に:  
ifでない場合、省略もしくはelse、連続する場合はelif。
- 比較演算子の左右はスペース
- 条件式はブール型（'True' or 'False'）でありブール演算子（'and' 'or' 'not' ）がある。
- インデントは半角スペース4個でtabキーは使用しない。  
ただし、colabでは標準2個でtabキーで2個追加できる。
- 変数を大文字表記にすると定数として扱える。  
もし成人年齢の定義が20歳から18歳に変更になった時に、最初の1行だけの修正で対応できる。複数箇所を検索機能や置換機能を使い修正しようとすると、別の意味でも20が使われている場合に面倒なことになる  
```
ADULT_AGE = 20
student_age = 19
if student_age < ADULT_AGE:
    print("{}歳未満です。".format(ADULT_AGE))
```
- 数値と文字列の違い。
- 制御構文：条件分岐（if）や繰り返し（for、while）
- for文：イテラブルオブジェクト(要素を繰り返し取り出せるオブジェクト。例えばシーケンス型の変数（リスト、タプル、文字列））
```
for x in range(5):
    print(x, end=(' '))
print()
```
<font color="red">, end=(' ')で改行を消したら、次にprint()で改行を作り、次のコードへ。</font>
- 繰り返しのカウントにはiが使われることが多い。
- 関数メモrange()、len()、list()、enumerate()、input()、zip()、reversed()、str()
- if文、for文、while文、break文
- 関数化はdef  
仮引数、実引数、キーワード引数、位置引数  
defで宣言後、returnしないと次の関数に反映されない。  
関数名(実引数, 実引数)を次の関数に渡す。戻り値、仮引数は渡さなくていい。
```
def sample_function(x, y):
    answer = (x+y) * 2
    return answer
print(sample_function(3, 5))
```

In [ ]:
# 入門5
student_name = "Alice"
student_age = 22
if student_age < 20:
  print("{}は20歳未満です。".format(student_name))
else:
  print("{}は20歳以上です。".format(student_name))
if student_age < 20:
  print("{}は20歳未満です。".format(student_name))
elif student_age == 21:
  print("{}は21歳です。".format(student_name))
elif student_age == 22:
  print("{}は22歳です。".format(student_name))
else:
  print("{}は23歳以上です。".format(student_name))

print(19 < 20)
print(type(10<20))
if True:
  print("Hello")

if (student_age >= 10) and (student_name):
  print("{}は10代です。".format(student_name))

no_judgement = False
student_name = "Alice"
student_age = 21
if not(no_judgement):
  if student_age < 20:
    print("{}は20歳未満です。".format(student_name))
  else:
    print("{}は20歳以上です。".format(student_name))
else:
  print("年齢の判定はしません。")

Aliceは20歳以上です。
Aliceは22歳です。
True
<class 'bool'>
Hello
Aliceは10代です。
Aliceは20歳以上です。

In [ ]:
# 条件式練習 失敗=変数を数値にするとエラーになる。数値の場合、0を消して1のみにしなければならない。
test_pass = 0001
if test_pass == 0000:
  print("認証ができました。")
else:
  print("認証ができませんでした。")

SyntaxError: ignored

In [ ]:
# 条件式練習 成功1=文字列にしたらできた。
test_pass = "0001"
if test_pass == "0000":
  print("認証ができました。")
else:
  print("認証ができませんでした。")

認証ができませんでした。

In [ ]:
# 条件式練習 成功2=input()を使う
test_pass = input("Test_pass:")
if test_pass == "0000":
  print("認証ができました。")
else:
  print("認証ができませんでした。")

Test_pass:0001
認証ができませんでした。

In [57]:
# 入門6
numbers = [0, 1, 2, 3, 4,]
for number in numbers:
  print(number)

user_ids = ("A081", "A114", "A186")
for user_id in user_ids:
  print(user_id)

text = "Python"
for character in text:
  print(character)

for i in range(5):
  print(i)
for x in range(5):
  print(x, end=(' '))
print()

print(range(5))
print(list(range(5)))

for i in range(5, 10, 2):
  print(i)

for i in range(9, -1, -1):
  print(i, end=(" "))
print()
for i in reversed(range(10)):
  print(i, end=(" "))
print()

monthly_average_temperatures = [6, 7, 9, 15, 20, 22]
for i in range(len(monthly_average_temperatures)):
  print("{}月の平均気温は{}度です。".format(i+1, monthly_average_temperatures[i]))
for i, temperature in enumerate(monthly_average_temperatures):
  print("{}月の平均気温は{}度です。".format(i+1, temperature))

# range(-1, 0)でリスト[0, +1]だからrange(1, 13)になる。
MONTH_NUMBERS = list(range(1, 13))
monthly_average_temperatures = [6, 7, 9, 15, 20, 22]
for month_number, temperature in zip(MONTH_NUMBERS, monthly_average_temperatures):
  print("{}月の平均気温は{}度です。".format(month_number, temperature))

num = 0
while num < 10:
  print(num, end=(" "))
  num += 3
print()

num = 0
while True:
  print(num, end=(" "))
  num += 3
  if num >= 10:
    break
print()

0
1
2
3
4
A081
A114
A186
P
y
t
h
o
n
0
1
2
3
4
0 1 2 3 4
range(0, 5)
[0, 1, 2, 3, 4]
5
7
9
9 8 7 6 5 4 3 2 1 0
9 8 7 6 5 4 3 2 1 0
1月の平均気温は6度です。
2月の平均気温は7度です。
3月の平均気温は9度です。
4月の平均気温は15度です。
5月の平均気温は20度です。
6月の平均気温は22度です。
1月の平均気温は6度です。
2月の平均気温は7度です。
3月の平均気温は9度です。
4月の平均気温は15度です。
5月の平均気温は20度です。
6月の平均気温は22度です。
1月の平均気温は6度です。
2月の平均気温は7度です。
3月の平均気温は9度です。
4月の平均気温は15度です。
5月の平均気温は20度です。
6月の平均気温は22度です。
0 3 6 9
0 3 6 9

In [87]:
# 入門7
def print_hello_world():
  print("Hello, World!")

print_hello_world()

def print_hello_something(something):
  print("Hello, {}!".format(something))

print_hello_something("Python")

def print_hello_something(something, end):
  print("Hello, {}{}".format(something, end))

print_hello_something("Python", "?")

def print_hello_something(something, end = "!"):
  print("Hello, {}{}".format(something, end))

print_hello_something("Python")
print_hello_something("Python", "?")

def hello_something(something, end = "!"):
  return"Hello, {}{}".format(something, end)

print(hello_something("Python", end = "!!"))

def sample_function(x, y):
  answer = (x+y) * 2
  return answer

print(sample_function(3, 5))
print(sample_function(10, 3))
print(sample_function(-20, -10))

def sample_function2(x, y):
  answer1 = (x+y) * 2
  answer2 = answer1 + 10
  return answer1, answer2

answer1, answer2 = sample_function2(3, 5)
print(answer1)
print(answer2)

# ↑戻り値が複数の場合、渡す関数に　戻り値＝定義関数　を宣言してから使用する。

def sample_function2(x, y):
  answer1 = (x+y) * 2
  answer2 = answer1 + 10
  return answer1, answer2

print(sample_function2(3, 5))

ADULT_AGE = 20
student_name = "Alice"
student_age = 22
def text_adult_age(personal_age, adult_age):
  """
  元コード
  if student_age < ADULT_AGE:
    print("{}は{}歳未満です。".format(student_name, ADULT_AGE))
  else:
    print("{}は{}歳以上です。".format(student_name, ADULT_AGE))
  """
  if personal_age > adult_age:
    return "{}歳以上".format(adult_age)
  else:
    return "{}歳未満".format(adult_age)

print("{}は{}です。".format(student_name, text_adult_age(student_age, ADULT_AGE)))

Hello, World!
Hello, Python!
Hello, Python?
Hello, Python!
Hello, Python?
Hello, Python!!
16
26
-60
16
26
(16, 26)
Aliceは20歳以上です。

In [93]:
# 疑問メモ
ADULT_AGE = 20
student_name = "Alice"
student_age = 19
def text_adult_age(personal_age, adult_age = 20): #1 ここの=20
   if personal_age > adult_age:
    return "{}歳以上".format(adult_age)
   else:
    return "{}歳未満".format(adult_age)

print("{}は{}です。".format(student_name, text_adult_age(student_age, adult_age = ADULT_AGE))) #2 ここのadult_age=

Aliceは20歳未満です。

In [94]:
# メモ2
def sample_function(x, y):
  answer = (x+y) * 2
  return answer

print("点数", sample_function(3, 5))

点数 16